.todoContainer {
  position: relative;
  padding: 16px 150px 16px 16px;
  background-color: var(--background-primary-500);
  border-radius: 8px;
  border: 1px solid var(--background-primary-400);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 12px;
  transition: .2s all;

  &:hover {
    transition: .2s all;
    background-color: var(--background-primary-400);
    border: 1px solid var(--background-primary-500);
  }

  .todoContent {
    display: flex;
    gap: 32px;

    .todoCheck {
      display: flex;
      align-items: center;
      cursor: pointer;
      .todoInput {
        position: relative;
        appearance: none;

        &:checked + .todoCheckbox {
          background-image: url("@/assets/icons/checkbox-bg-active.svg");
        }
      }

      .todoCheckbox {
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url("@/assets/icons/checkbox-bg.svg");
      }
    }

    .todoTitle {
      color: var(--text-secondary-100);
      font-size: 14px;
      line-height: 150%;
      overflow-wrap: break-word;
      max-width: 100%;
    }

    .todoCompleted {
      text-decoration: line-through;
      color: var(--background-primary-300)
    }
  }

  .todoDateContainer {
    display: flex;
    column-gap: 8px;
    transition: .2s all;
    margin-top: 8px;

    .todoDateContent {
      font-size: 12px;
      font-weight: 500;
      color: var(--background-primary-300);
    }
  }

  .todoIcon {
    position: absolute;
    top: 50%;
    padding: 5px;
    font-size: 29px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .2s all;
  }

  .infoIcon {
    right: 16px;
    color: var(--text-primary-600);

    &:hover {
      color: var(--text-primary-500);
    }
  }

  .trashIcon {
    right: 48px;
    color: var(--background-primary-300);

    &:hover {
      opacity: 0.7;
    }
  }

  .editIcon {
    right: 80px;
    color: var(--background-primary-300);

    &:hover {
      opacity: 0.7;
    }
  }

  .disabledEditIcon {
    cursor: auto;
    opacity: 0.4;
  }
}
